{% extends 'base.html.twig' %}

{% block header_title %}<h1>Cette page n'existe pas.</h1>{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('homepage') }}" class="btn btn-info">Revenir à l'acceuil</a>
    </div>
{% endblock %}
