@import 'customVariables';
@import '~bootstrap/scss/bootstrap';

/* Fonts
   ------------------------------------------------------------------------- */

/* Basic styles
   ------------------------------------------------------------------------- */
html, body {
  height: 100%;
}
p {
  font-size: 0.9rem;
}
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.2rem;
}
label {
  font-size: 0.9rem;
}

/* Common page elements
   ------------------------------------------------------------------------- */
.navbar {
  background-color: #e3f2fd;
}
.navbar-brand {
  font-size: 1.1rem;
  color: #000000;
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;
}
.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-toggle .fa-user-circle {
  font-size: 1.5rem;
}
.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.copyright {
  font-size: 0.8rem;
  text-align: center;
}

/* Page: ''
   ------------------------------------------------------------------------- */

/* Responsive
   ------------------------------------------------------------------------- */
@include media-breakpoint-up(sm) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  label {
    font-size: 1rem;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
  .navbar-toggler-icon {
    width: 1.25em;
    height: 1.25em;
  }
  .fa-user-circle {
    font-size: 2rem;
  }
  .btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
  .copyright {
    font-size: 1rem;
  }
}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .navbar-brand {
    font-size: 1.25rem;
  }
  .navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
  }
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
}
